
{% extends 'layouts/base' %}

{% block content %}
	{% import 'macros/images' as imageMacros %}
	{% import "macros" as macros %}

    <section class="inpiration-page__intro flex relative bg-navy pt-[4rem] pb-[7rem] md:pt-[6.255rem] md:pb-[15.25rem] text-center items-center w-full">
       <h1 class="text-blueGrey font-noverse w-full font-medium type-4xl md:type-9xl leading-[normal]">Be inspired</h1>
    </section>
    <main class="main_blocks">
        {% set pageblocks = entry.mainContent %}
        {% if pageblocks %}
        {% for block in pageblocks.all() %}
            <section class="main_blocks__item first:mt-[-4rem] md:first:mt-[-17.125rem] ">
                {% set blockIndex = loop.index %}
                {% switch true %}
                    {% case block.type.handle %}
                       {% include 'modules/module' with {block:block, blockIndex:blockIndex} %}
                    {% default %}
                        <h1>
                            TODO: DEVELOPERS WORKING				
                        </h1>
                {% endswitch %}
            </section>
      
        {% endfor %}
        {% endif %}
    </main>

{% endblock  content %}
